In [2]:
from Stock import Stock


stock = Stock('itsa4')

In [3]:
stocks = [Stock('itsa4'), Stock('abev3')]

history_dfs = [stock.get_history_df(period='max') for stock in stocks]

In [4]:
from Portfolio import Portfolio

portfolio = Portfolio(stocks)
portfolio.get_history_df(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03,0.254055,0.285303,0.252697,0.270358,5399681.0,0.0,0.0
2000-01-04,0.260848,0.260848,0.244545,0.244545,6337663.0,0.0,0.0
2000-01-05,0.406717,0.425737,0.397207,0.425737,4811084.5,0.0,0.0
2000-01-06,0.416227,0.423020,0.414868,0.421661,12120180.0,0.0,0.0
2000-01-07,0.424378,0.428454,0.417585,0.420302,5888525.0,0.0,0.0
...,...,...,...,...,...,...,...
2022-05-09,11.140000,11.395000,11.050000,11.235000,28127150.0,0.0,0.0
2022-05-10,11.325000,11.470000,11.210000,11.225000,19779550.0,0.0,0.0
2022-05-11,11.235000,11.545000,11.185000,11.430000,35686450.0,0.0,0.0
2022-05-12,11.365000,11.795000,11.325000,11.770000,32597400.0,0.0,0.0
2022-05-13,11.830000,11.930000,11.770000,11.840000,16000350.0,0.0,0.0

In [5]:
stock.get_history_df()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2022-04-13  10.12  10.19  10.01  10.09  21146700          0             0
2022-04-14  10.06  10.12  10.01  10.10  15387100          0             0
2022-04-18  10.08  10.17  10.04  10.16  13150900          0             0
2022-04-19  10.10  10.18   9.93  10.05  19290400          0             0
2022-04-20  10.04  10.08   9.97  10.06  17934500          0             0
2022-04-22   9.96  10.01   9.83   9.91  21183400          0             0
2022-04-25   9.85   9.92   9.73   9.88  22343700          0             0
2022-04-26   9.83   9.85   9.38   9.46  42406300          0             0
2022-04-27   9.52   9.60   9.31   9.40  26816900          0             0
2022-04-28   9.41   9.42   9.25   9.35  30444100          0             0
2022-04-29   9.41   9.55   9.20   9.21  33390500          0             0
2022-05-02   9.21   9.27   9.00   9.15  40424700          0             0
2022-05-03   9.14   9.22   9.07   9.13  20403000          0             0
2022-05-04   9.07   9.13   8.88   9.10  63334400          0             0
2022-05-05   9.04   9.04   8.81   8.87  34292500          0             0
2022-05-06   8.89   9.05   8.86   8.90  35341700          0             0
2022-05-09   8.88   8.94   8.73   8.78  30162500          0             0
2022-05-10   8.84   8.91   8.70   8.72  23248400          0             0
2022-05-11   8.75   8.93   8.73   8.91  41411800          0             0
2022-05-12   8.87   9.09   8.86   9.06  38118300          0             0
2022-05-13   9.11   9.19   9.09   9.14  18615600          0             0